# Byte-compiled / optimized / DLL files
.DS*

# envs
.env
env/
venv/
.venv/*
.[Ee][Nn][Vv]

# Logs
*.log
*_log.txt

# data
data.txt
datasets/
cache/

# Models & Runs
mlruns/
mlflow/
*.joblib
*.pkl

# Python
__pycache__/
*.py[cod]
*$py.class

# Conda
.env/
.conda/
conda_env/
.ipynb_checkpoints/